* {
    padding: 0;
    margin: 0;
    color: white;

}

body {
    background-color: black;
}

nav,
.nav-right,
.hero,
.hero-input,
.feature-card,
.faq,
.que-title {
    display: flex;
    align-items: center;
}

nav,
.feature-card,
.foot-container,
.faq {
    padding: 0 3rem;
    max-width: calc(80% - 3rem);
}

input[type=search] {
    appearance: none;

}

button {
    appearance: none;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 15px;
    border-radius: 3px;
    background-color: red;
}

.main {
    position: relative;
    background: url(material/images/bg.jpg) center/cover no-repeat;
    background-size: 1000;
    width: 100%;
    height: 700px;
}

nav {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 90px;
    gap: 20px;
    z-index: 10;
}

.logo img {
    width: 150px;
}

.nav-right {
    gap: 20px;
}

.nav-right>button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

.lang-select,
#inp-email {
    border: 1px solid gray;
    background-color: rgba(36, 36, 36, 0.404);
}

.lang-select {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

.main .box {
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0));
}

.hero {
    position: relative;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;

}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

.hero-input {
    justify-content: center;
    gap: 0.5rem;
}

#inp-email {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 1rem;
}


.hero-input .btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
}

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(73, 70, 70);
}


.feature-card {
    flex-direction: row;
    justify-content: center;
    padding: 60px 3rem;
    margin: auto;
}

.second,
.fourth {
    flex-direction: row-reverse;
}


.card-des,
.card-video {
    flex-basis: 50%;
}

.card-des h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.card-des p {
    font-size: 1.5rem;
    font-weight: 400;
}


.card-video {
    position: relative;
}

.card-video video {
    position: absolute;
    height: 55%;
    top: 20%;
    left: 13%;
    z-index: -3;
}


.third .card-video video {
    height: 46%;
    top: 10%;
    left: 19%;
}

.card-video img {
    width: 100%;
}

.faq {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 60px 3rem;
    gap: 10px;
}

.faq h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}


.faq>p {
    margin: 20px 0 5px 0;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.que-capsule {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.100);
}

.que-title,
.que-ans {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}


.que-title {
    width: 100%;
    background-color: inherit;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.415);
}


.que-ans {
    display: none;
}

.foot-container {
    margin: 4.5rem auto;
    font-weight: 300;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
}

.foot-tele,
.foot-lang,
.foot-region {
    grid-column: 1/5;
}

.foot-tele p {
    margin-bottom: 0.5rem;
}


.foot-lang button,
.foot-region p {
    margin-top: 0.5rem;
}

.foot-link,
.foot-tele a {
    text-decoration: none;
}

.foot-link:hover {
    text-decoration: underline;
}


.foot-tele a:hover {
    text-decoration: underline;
}


.sign-in a {
    text-decoration: none;
}

/* Responsive */

@media screen and (max-width:960px) {
    /* CSS */

    .logo img {
        width: 100px;
    }

    .nav-right {
        gap: 10px;
    }

    .main {
        height: 500px;
    }

    .hero h1 {
        font-size: 32px;
        font-weight: 800;
        line-height: 32px;
        text-align: center;

    }

    .hero h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;

    }

    .hero p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;

    }

    .feature-card {
        flex-direction: column;
        gap: 16px;
    }

    .card-des h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
    }

    .card-des p {
        font-size: 1.2rem;
        text-align: center;
    }

    .faq h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .faq p {

        font-size: 1rem;

    }

    .que-title,
    .que-ans {
        padding: 1.2rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .faqIcon {
        font-size: 15px;
    }

    .foot-container {
        margin: 2.5rem auto;
        font-weight: 300;
    }
}

@media screen and (max-width : 600px) {

    .hero-input {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    
}


