div{

    height: 300px;
    width: 300px;
    background-color: lightblue;


    /* border -> color , width , style  */
    /* border-color: black;
    border-width: 10px;
    border-style: dashed; */

    /* Short hand Property  */
    /* red 0 - 255 , green 0 - 255 blue 0 - 255  
    
    rgb(255,255,255)*/

    /* border-left: 2px solid rgb(54,67,213);
    border-right: 5px dashed red;
    border-top: 10px orange double;
    border-bottom: 8px solid blue; */

    border: 4px solid black;
    border-radius: 50%;
    
    

}