:root {
    /* css fixed value ->  */
    --primary: black;
    --secondary: white;
    --accent: rgb(212, 165, 116);
    --text: rgb(44, 44, 44);
    --light-text: rgb(107, 107, 107);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing ->  */
    box-sizing: border-box;
}

/* navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 32px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: rgba(245, 244, 244, 0.887);
    backdrop-filter: blur(3px);
    /* animation */
    animation: slideDown 0.8s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 900;
    color: var(--primary);
    letter-spacing: -1px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: 450;
    font-size: 15px;
    position: relative;
    transition: color 0.3s;

}

.nav-links a:hover {
    color: var(--accent);
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s ease;
}


.nav-links a:hover::after {
    width: 100%;
}


/* hero-Slider */

.slider-container {
    position: relative;
    height: 100vh;
    margin-top: 0;
    overflow: hidden;
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide.active {
    opacity: 1;
}

.slide-content {
    max-width: 1400px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    animation: fadeinUp 1s ease-in-out;

}


@keyframes fadeinUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(40px);

    }
}

.slide-text h1 {
    font-family: "Playfair Display", serif;
    /* 1rem = 16px */
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--primary);
    animation: fadeinUp 1s ease;
}

.slide-text p {
    font-family: "Playfair Display", serif;
    /* 1rem = 16px */
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--light-text);
    animation: fadeinUp 1s ease;
}


.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    /* transition: transform 0.2s ease-in-out; */
    animation: fadeinUp 1s ease;
}

/* hold */
.cta-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--accent);
    transition: left 0.5s ease;
    z-index: -1;
}

.cta-button:hover::before {
    left: 0;
}

.cta-button:hover {
    transform: translateY(-3px);
}

.slide-image {
    position: relative;
    height: 600px;
    animation: fadeInRight 1s ease-out 0.4s both ;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.image-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(72, 72, 220) 0%, rgb(195, 70, 195) 100%);
    position: relative;
    overflow: hidden;
}

.slide:nth-of-type(2).image-wrapper{
       background: linear-gradient(135deg, rgb(72, 220, 102) 0%, rgb(195, 147, 70) 100%);

}

.slide:nth-of-type(3).image-wrapper{
       background: linear-gradient(135deg, rgb(182, 91, 71) 0%, rgb(187, 70, 195) 100%);

}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.147);
    font-weight: 900;
}

.slider-controls{
    position: absolute;
    bottom: 7%;
    right: 5%;
    display: flex;
    gap: 15px;
    z-index:10 ;
}

.control-btn{
    width: 60px;
    height: 60px;
    border: 2px solid var(--primary);
    background: var(--secondary);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--primary);
    transition: all 0.3s ease;
}

.control-btn:hover{
    background: var(--primary);
    color: var(--secondary);
    transform: scale(1.1);
}

/* slider indicator */
.slider-indicators{
    position: absolute;
    bottom: 7%;
    left: 5%;
    display: flex;
    gap: 16px;
    z-index: 1;
}

.indicator{
    width: 50px;
    height: 3px;
    background: rgba(11, 11, 11, 0.221);
    cursor: pointer;
    transition: all 0.3s ease;
}

.indicator.active{
    background: var(--accent);
    width: 80px;
}


/* features */

.features{
    padding:60px 5%;
    background: var(--primary);
    color: var(--secondary);
}

.features-grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
}

.feature-card{
    text-align: center;
    padding: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: all 0.4s ease;
}

.feature-card:hover{
    border-color: var(--accent);
    transform: translateY(-10px);
    background: rgba(218, 205, 205, 0.152);
}

.feature-icon{
     
     font-size: 50px;
     margin-bottom: 20px;

}


.feature-card h3{
    font-family: "Playfair Display", serif;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
}


.feature-card p{
    color: rgba(239, 236, 236, 0.763);
    line-height: 1.5;
}

.section-title{
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

/* responsive  */
@media screen and (max-width: 960px){
    .nav-links{
        gap: 20px ;
    }

    .slide-content{
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }

    .slide-text h1{
        font-size: 50px;
    }

    .feature-card{
         grid-template-columns: 1fr;
         gap: 2rem;
    }
}