/* css fixed value ko store krna ho */
:root {
    --primary: black;
    --secondary: white;
    --accent: rgb(240, 223, 155);
    --text: rgb(64, 64, 64);
    --light-text: rgb(139, 138, 138);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* 1rem = 16px */
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: rgba(241, 241, 241, 0.872);
    /* blur apply krna ho ->  */
    backdrop-filter: blur(2px);
    /* animation */
    animation: slideDown 0.8s ease-in-out
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--primary);
    letter-spacing: -1px;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: 450;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}


.nav-links a:hover {
    color: var(--accent);
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent);
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* hero-slider */
.slider-container {
    position: relative;
    height: 100vh;
    margin-top: 0;
    /* overflow */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition */
}

.slide-active {
    opacity: 0;
}

.slide-content {
    display: grid;
    /* max itni hi space ho sakti hai  */
    max-width: 1400px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    /* fadeup */
    animation: fadeUp 1s ease-in-out
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(40px);
    }
}

/* slider text */
.slide-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 25px;
    color: var(--primary);
    animation: fadeUp 1s ease-in-out
}

.slide-text p{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: var(--light-text);
    margin-bottom: 30px;
    animation: fadeUp 1s ease-in-out
}

.cta-button{
    display: inline-block;
    font-size: 20px;
    background: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
     animation: fadeUp 1s ease-in-out

}