* {
    padding: 0;
    margin: 0;
    color: white;
    /* font-family */
}

body {
    background-color: black;
}

nav,
.nav-right,
.hero,
.hero-input,
.faq,
.que-title,
.feature-card {
    display: flex;
    align-items: center;
}

nav,.nav-right,.foot-container,.faq{
    padding: 0 3rem;
    max-width: calc(90% - 3rem);
}

input[type="search"]{
    appearance: none;
}

button{
    appearance: none;
    border: none;
    /* cursor: pointer; */
}

.btn{
    padding: 8px 12px;
    background-color: red;
    border-radius: 4px;
}

.main{
    position: relative;
    background: url(material/images/bg.jpg) center/cover no-repeat;
    background-size: 1000;
    width: 100%;
    height: 700px;
}

nav{
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 90px;
    gap: 20px;
    z-index: 1;
}

.logo img{
    width: 150px;
}

.nav-right{
    gap: 20px;
}

.nav-right>button{
    font-size: 15px;
    padding: 4px 12px;
    border: 4px;
}

.lang-select, #inp-email{
    border: 2px solid rgb(255, 254, 254);
    background-color: rgba(68, 68, 68, 0.589);
}

.lang-select{
    padding:5px 15px;
    border-radius: 4px;
}

.main .box{
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.254),rgba(0, 0, 0));
}