/* Universal Selector - all over page pr apply hoga - '*' */
/* * {
    background-color: black;
    color: white;
} */

/* Element Selector -> tag , element - element  - ek element multiple time hai
toh saare element pr property apply hojaegi

Element > Universal */
/* h1 {
    color: red;
} */

/* Class Selector -> HTML code -> Class ko define krdoge ->  class ki value hogi us 
value ko ap css m use kroge -> .classValue

Class > element > Universal 
*/
.sp {
    color: blue;
}

/* ID Selector ->HTML code -> id ko define krdoge ->  id ki value hogi us 
value ko ap css m use kroge -> #idvalue 

id > class > element > universal */
#demo {
    color: mediumspringgreen;
}
/* (1,0,0) */

/* attribute selector - form ->  */
/* 0,1,1 */
input[type="text"] {
    background-color: red;
}

input[type="password"] {
    background-color: green;
}

#c2 {
    background-color: orange;
}

input {
    color: red;
    background: green;
}


/* Descendent Selector ->  */
/* a{
    color: red;
}

#un{
    color: blue;
} */

/* child combinator  */
ul li a {
    color: violet;
    text-decoration: none;
}
/* 0,0,3 */


/* h1{
    background-color: green !important;
    text-align: center;
}

h1{
    background-color: red;
    text-align: right;
}

h1{
    background-color: violet;
    

} */


/* pseudo class  - hover(cursor lejana) ,active(click) , check(checkbox/radio)  ,nth-of-type
Selector chaeieye -> selector : pseudo class
pseudo element - firstline, selection , firstLetter  - 
Selector Specificity 
box model */


h1:hover {
    color: red;
}
/* 0,1,1 */

button:hover {
    color: green;
    background-color: yellow;
}


h1:active {
    color: green;
}

button:active {
    background-color: blue;
}

/* sibling combinator */
input[type="radio"]:checked+label {
    color: red;
    font-size: 25px;
    font-weight: 600;
}

/* nth-of-type */

h2 {
    background-color: blue;
}
/* hr second position pr mera light blue laga do  */
h2:nth-of-type(3n) {
    background-color: lightblue;
}

/* Psuedo Element -> ::  */

h3::first-letter{
    color: red;
}
/* 0,0,2 */

/* p::first-line{
    background-color: blueviolet;
} */

span{
    background-color: blueviolet;
}

p::selection{
    background-color: black;
    color: white;
}

/* descendent ->  */
/* #main .demo a li b{

} */