h1{
    text-align: center;
    /* short hand property  position , color , style  */
    text-decoration: underline rgb(64, 255, 0) solid;
}

p{
    text-align: justify;
    font-size: 16px;

    /* normal/400 , bold/700 , light/<400  */
    font-weight:lighter;

    /* line-height: 40px; */

    /* letter-spacing: 20px; */

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}

a{
    text-decoration: none;
}